# Techpronnet Environment Variables Example
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000

# Backend PostgreSQL Database URL
DATABASE_URL=postgresql://user:password@localhost:5432/techpronnet_db
SECRET_KEY=your_jwt_secret_key_here
